* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
#header {
    background-color: #226fe3;  
}


#header,
.header__logo,
.header__total,
.header__search {
    position: relative;
    height: 100px;
}

.header__total {
    position: relative;
}
.header__logo,
.header__total--list {
    list-style: none;
    display: flex;
    line-height: 100px;
}

.header__total--list li a{
    color: #fff;
    padding: 0 8px 0 8px;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
    text-transform: uppercase;
    position: relative;
}

.header__total--list li a::after{
    content: "";
    height: 5px;
    width: 0px;
    background-color: #ffffff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all .5s ease-in-out;
}

.header__total--list li a:hover::after{
    width: 50%;
    transform: translate(100%);
}

.header__search {
    position: relative;
    right: 10px;
    padding: 14px 0;
    border-radius: 30%;
    cursor: pointer;
    display: flex;
}

.header__search--total:hover .header__search--input,
.header__search--total:hover .header__search--total::before {
    display: block;
}

.header__search--total {
    position: absolute;
    right: 36px;
    top: 30px;
}

.header__search--icon {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.header__search--total::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -40px;
    width: 40px;
    height: 32px;
}
.header__search--input {
    position: absolute;
    top: -6px;
    right: 60px;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    display: none;
}
